
body {
    background-image: url(clouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#leftView {
    width: 60%;
}

h1, h2 {
    font-family: 'Arial Rounded MT';
    color:white;
}

div.list-group {
    position: absolute;
    border: 1px solid #aaa;
    height: 60%;
    width: 50%;
    background: none;
    overflow-y: scroll;
}

button1, button2, button3 {
    margin-right: 5%;
    width: 10%;
}
button4 {
    width: 10%;
}

a.list-group-item {
    background: rgba(0, 72, 252, 0.10);
    color: white;
    font-size: 15px;
    font-family: 'Courier New';
}

    a.list-group-item:hover {
        background-color: rgba(183, 183, 183, 0.43);
        color: white;
    }

#index h3 {
    color: white;
    font-size: 20px;
}

#information-container {
    color: white;
    font-family: 'Courier New';
    font-size:15px;
}

